:root {font:20px/1.2 "Roboto", sans-serif; } 

html * {
    margin:           unset;
    box-sizing:       border-box;
    padding:          unset;
    color:            unset;
    text-decoration:  unset;
}

html, body {
    min-height: 100vh;
}

:root {
    --white: #ffffff;
    --g0: #f8f8f8;
    --g00: #eeeeee;
    --g000: #e8e8e8;
    --g1: #dddddd;
    --g11: #d8d8d8;
    --g111: #cccccc;
    --g2: #c8c8c8;
    --g22: #bbbbbb;
    --g222: #b8b8b8;
    --g3: #aaaaaa;
    --g33: #a8a8a8;
    --g333: #999999;
    --g4: #989898;
    --g44: #888888;
    --g444: #787878;
    --g5: #777777;
    --g55: #686868;
    --g555: #666666;
    --g6: #585858;
    --g66: #555555;
    --g666: #484848;
    --g7: #444444;
    --g77: #383838;
    --g777: #333333;
    --g8: #282828;
    --g88: #222222;
    --g888: #181818;
    --g9: #111111;
    --g99: #080808;
    --black: #000000;

    --wg0: #faf9f7;
    --wg1: #e8e6e1;
    --wg2: #d3cec4;
    --wg3: #b8b2a7;
    --wg4: #a39393;
    --wg5: #857f72;
    --wg6: #625d52;
    --wg7: #504a40;
    --wg8: #423d33;
    --wg9: #27241d;

    --cg0:#f5f7fa;
    --cg1:#e4e7eb;
    --cg2:#cbd2d9;
    --cg3:#9aa5b1;
    --cg4:#7b8794;
    --cg5:#616e7c;
    --cg6:#52606d;
    --cg7:#3e4c59;
    --cg8:#323f4b;
    --cg9:#1f2933;
}